body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
nav{
    text-align: right;
    display: block;   
    padding: 20px; 

}
a{
    padding: 10px;
    color: rgb(204, 188, 12);
    text-decoration: none;
}
.banner{
    background-color: rgb(176, 46, 46);
    
}
.banner{
    display: flex
}
.banner p {
    padding: 60px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    text-justify: auto; 

}
.banner img{
    width: 400px;
    padding: 0px 50px 50px 45px ;
    position: absolute;
    float: left;
    margin: 50px;
    
}
.frame{
    border: 10px solid rgb(204, 188, 12);
    width: 500px;
    background: transparent;
    height: 460px;
    position: relative;
    top: 100px;
    left: 35px;
}
footer p{
    display: block;
    text-align: center;
}

.container-text{
    color: rgb(165, 153, 19);
    text-align: justify;
    text-justify: auto;
    padding: 0;
    background-color: #fff;
    margin: 20px 20px;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 0 auto;
    gap: 10px;
    margin: 10px 20px;
    background-color: #fff;
}
.card{
    width: 45%;
    display: flex;
    padding: 0;
}
.card img {    
    height: 500px;
    float: left;
    padding: 0;


}
  
.left {
    float: left;
}
  
.right {
    float: right;
}
@media (max-width: 780px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        display: block;
        text-align: justify;
    }
    .card img {
        display: flex;
        width: 100%;
        object-fit: contain;
        padding-top: 40px;
    }
}
